* {
	margin: 0;
	padding: 0;
}

/* Header Styles */ 

header {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg");
	background-color: navy;
	background-size: cover;
}

/* Font Styles */

h1, h3 {
	font-family: 'Lemon', cursive;
	font-size: 3.5em;
	text-align: center;
	color: white;
	padding-top: 20px;
}
h3 {
	font-size: 2em;
	padding-bottom: 10px;
}
p, h2, td {
	font-family: sans-serif;
	color: #aaa;
	padding: 3px;
	line-height: 1.25em;
}
h2, #welcome {
	font-size: 1.25em;
	padding: 5px 0;
}

/* Nav Bar Styles */

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.current {
	color: #777;
	font-size: 1.4em;
}

/* Main Section Styles */

#info {
	max-width: 60%;
	margin: 0 auto;
	padding: 20px;
}
hr {
	color: #aaa;
	margin: 15px 0;
	clear: both;
}
#slice {
	float: right;
	position: inline;
	margin-bottom: 0;
}
#menu {
	text-align: center;
}

/* Form Styles */

button {
	font-size: 1.25em;
	background-color: #999;
	color: white;
	border-radius: 5px;
}

/* Footer Styles */

footer {
	display: flex;
	justify-content: center;
	opacity: 0.6;
	margin-bottom: 20px;
}

footer img {
	margin: 5px;
}

/*	Link Styles */

a {
	text-decoration: none;
}
a:hover {
	opacity: 0.75;
}
a:visited {
	color: #aaa;
}

/* Responsive */

@media (max-width: 900px) {
  #info {
  	width: 90%;
  }	
  #slice {
    float: none;
    width: 100%;
  }
}